@media(max-width: 1440px){
    .intro{
        height: 650px;
        
    }
}
@media(max-width: 1200px){
    .intro{
        height: 600px;

    }
}
@media(max-width: 1000px){
    .header_top{
        padding: 15px 0;   
        &_img{
            width: 40px;
        } 
    }
    .nav_link{
        & span{
            padding: 35px 6px;
        }
    }
    .intro{
        height: 500px;
        &_title{
            text-align: center ;
            font-size: 50px;
            line-height: 100%;
        }
        &_text{
            margin: 20px auto;
            text-align: center ;
        }
        &_btns{
            justify-content: center;
        }
    }
    .btn{
        padding: 15px 40px;
    }
}
@media(max-width: 800px){
    .intro{
        height: 400px;
        &_title{
            font-size: 40px;
        }
        &_text{
            margin: 15px auto;
        }
    }
    .btn{
        padding: 12px 35    px;
    }
    .nav_logo{
        font-size: 16px;
        &_img{
            width: 90px;
        }
    }
}
@media(max-width: 700px){
    .header{
        position: relative;
        overflow: hidden;
    }
    .nav{
        padding: 15px 0;
        &_list{  
            flex-direction: column;
            position: absolute;
            background-color: var(--dark);
            z-index: 99;
            top: 0;
            right: 0;
            padding: 30px;
            padding-top: 50px;
            align-items: center;
            height: 100vh;
            transform: translateX(100%);
            & .close{
                position: absolute;
                top: 15px;
                left: 15px;
            }
        }
        &_link span{
            padding: 10px;
        }
    }
    
    #check:checked~.nav_list{
        transform: translate(0);
    }
}

@media(max-width: 600px){
    .intro{
        height: 300px;

    }
}
@media(max-width: 400px){
    .intro{
        height: 200px;

    }
}